{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <header>
        <h1 class="display-4">Personal Blog Page</h1>
    </header>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-info" href="{% url 'article_new' %}" role="button">Add New Article</a>
    </p>
</div>
<div class="card text-center">
    <div class="card-header">
        <h3>Featured Blog Articles</h3>
    </div>
    {% for arti in object_list %}
    <div class="card-body">

        <h5 class="card-title">{{arti.title|truncatewords:10}}</h5>
        <p class="card-text">{{arti.text|truncatewords:30}}</p>
        <a href="{% url 'article_page' arti.pk %}" class="btn btn-primary">Visit News </a>
    </div>
    <hr>

    {% endfor %}

    <div class="card-footer text-muted">
        Copyright &copy; Ishwor Panta 2020
    </div>
</div>

{% endblock content %}